{% extends "base.html" %}
{% load sass_tags %}
{% block includes %}
        <link rel="stylesheet" type="text/css" href="{% sass_src "css/form.sass" %}">
{% endblock includes %}

{% block content %}
    {% if user.is_authenticated %}
        {{ user.first_name }}
    {% else %}
        Log in
    {% endif %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% include "form_snippet.html" with form=form %}
        <button type="submit" class="submit-btn">Create course</button>
    </form>
{% endblock content %}